* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --after-content:"2";
}

#header_container {
  width: 100%;
  height: 90px;
  background-color: #fff;
  height: 90px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 4px solid #ffd4e2;
  z-index: 99;
}

img {
  width: 180px;
  height: 90px;
}

.header_wrapper {
  display: flex;
  align-items: center;
}
.header_wrapper .nav_bar {
  display: inline-block;
}
.header_wrapper .nav_bar ul {
  list-style: none;
  display: flex;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-weight: lighter;
  font-size: 20px;
}
.header_wrapper .nav_bar li {
  padding-right: 32px;
  padding-left: 32px;
}
.header_wrapper .nav_menu a {
  color: #CAF0F8;
  text-decoration: none;
}
.header_wrapper .nav_menu a:hover {
  color: #8A3398;
}
.header_wrapper .cart-box {
  width: 26% !important;
  position: absolute;
  left: 70%;
  top: 25%;
  padding: 10px 20px;
}
.header_wrapper .cart-wrapper {
  overflow-y: auto;
  max-height: 330px;
  width: 320px;
}
.header_wrapper .whole-cart-window {
  border: solid 1px #ffd4e2;
  border-top: none;
  position: fixed;
  top: 12vh;
  background-color: #fff;
  margin-right: 2%;
}
.header_wrapper .subtotal {
  text-align: right;
  padding: 5%;
  font-size: 22px;
}
.header_wrapper .checkout, .header_wrapper .view-cart {
  width: 80%;
  text-align: center;
  cursor: pointer;
  background-color: #ffd4e2;
  font-size: 18px;
  color: black;
  margin: 10px auto;
  padding: 10px 15px;
  font-family: "Shrikhand", cursive;
}
.header_wrapper .view-cart {
  background-color: #fff;
  color: #ffd4e2;
  border: 1px solid gainsboro;
}
.header_wrapper .cart-item {
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding: 5% 2%;
  border-bottom: solid 1px lightgray;
}
.header_wrapper .cart-item h3 {
  text-align: left;
  margin-bottom: 5%;
}
.header_wrapper .cart-item .cart-icon {
  margin-left: 100px;
}
.header_wrapper .cart-item .item-name {
  font-size: 18px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
}
.header_wrapper .cart-item .price {
  display: block;
  text-align: right;
  margin-top: 35%;
}
.header_wrapper .cart-item .cancel {
  text-align: right;
}
.header_wrapper .cart-item .item-details p {
  padding-left: 10%;
  font-size: 18px;
  text-align: left;
}
.header_wrapper .cart-item .quantity {
  display: block;
  margin-top: 5%;
  font-family: "Overpass", sans-serif;
}
.header_wrapper .cart-item img {
  width: 100%;
}
.header_wrapper .item-name, .header_wrapper .price, .header_wrapper .subtotal {
  font-family: "Overpass", sans-serif;
}
.header_wrapper .fa-trash-can {
  color: #8A3398;
}
.header_wrapper .hide {
  display: none;
}
.header_wrapper .non-empty::after {
  content: var(--after-content);
  font-size: 20px;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -20px;
  right: 10px;
  background-color: #CAF0F8;
  color: #8A3398;
  border-radius: 50%;
}

.top {
  background-image: url(../images/visax-6oPXqoVl8vM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 680px;
}
.top h1 {
  font-size: 60px;
  font-family: "Shrikhand", cursive;
  color: #fff;
  padding-left: 28px;
}
.top .copy {
  color: #fff;
  font-size: 28px;
  font-family: "Overpass", sans-serif;
  padding-bottom: 20px;
}
.top .shop_btn {
  cursor: pointer;
  background-color: #fff;
  font-size: 20px;
  font-family: "Nixie One", cursive;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-left: 110px;
  color: #ffd4e2;
}
.top .shop_btn:hover {
  background-color: #ffd4e2;
  color: #fff;
}
.top .main_text {
  display: inline-block;
  padding: 200px 0 0 150px;
}
.top #photo img {
  display: flex;
  width: 620px;
  height: 450px;
  border-radius: 5%;
  position: absolute;
  right: 152px;
  top: 162px;
}

.products .items img {
  width: 260px;
  height: 280px;
  margin-top: 104px;
}
.products .type {
  text-align: center;
  font-family: "Limelight", cursive;
  font-size: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffe4ed;
  height: 40px;
}
.products .products_no2 {
  margin-left: 120px;
  display: flex;
  justify-content: space-evenly;
}
.products .products_no2 #btn {
  display: block;
  cursor: pointer;
  background-color: #ffd4e2;
  font-size: 20px;
  font-family: "Nixie One", cursive;
  border: none;
  color: #fff;
  width: 140px;
  height: 60px;
  margin-top: 32px;
  margin-left: 52px;
  margin-bottom: 60px;
  border-radius: 5.5%;
}
.products .products_no2 #btn:hover {
  background-color: #CAF0F8;
  color: #ffd4e2;
}
.products .item_names {
  font-size: 26px;
  font-family: "Abril Fatface", cursive;
  padding-top: 18px;
  color: #8A3398;
  padding-bottom: 20px;
  font-weight: lighter;
}
.products .item_prices {
  font-size: 28px;
  text-align: center;
  padding-left: 80px;
  padding-top: 30px;
}

.feature {
  background-color: #FFE8D6;
  margin-top: 70px;
  margin-left: 60px;
  background-size: contain;
  height: 690px;
  width: 100%;
  position: relative;
  z-index: -1;
}
.feature .menu {
  padding-bottom: 15px;
  align-items: flex-start;
  justify-content: left;
  margin-top: 80px;
  color: #fff;
}
.feature h2 {
  padding-top: 100px;
  padding-left: 32px;
  font-size: 40px;
}
.feature p {
  font-size: 32px;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  color: #fff;
  padding-left: 30px;
  padding-bottom: 20px;
}
.feature img {
  width: 640px;
  height: 520px;
  position: absolute;
  right: 100px;
  bottom: 72px;
}
.feature .icon_text {
  font-size: 18px;
  padding-top: 12px;
  color: #D1B09D;
}
.feature .icon_group {
  display: flex;
  padding-bottom: 12px;
}
.feature .feature_wrapper {
  display: block;
}
.feature .icon_wrapper {
  margin-left: 242px;
  margin-top: 20px;
}

.size_finder h2 {
  padding-bottom: 15px;
}
.size_finder .size_text {
  font-size: 24px;
  font-family: "Overpass", sans-serif;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 30px;
}
.size_finder img {
  width: 95%;
  height: 700px;
}

.howTo h2 {
  padding-top: 100px;
  padding-bottom: 0;
  border-bottom: 3px solid #8A3398;
  width: 600px;
  margin: 0 auto;
}
.howTo .youtube {
  margin: 30px 0 100px 350px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.howTo .howTo_text {
  text-align: center;
  padding-bottom: 35px;
  padding-top: 13px;
}

.Qnas {
  background-image: url(../images/nataliya-smirnova-6Rfsu18_iVg-unsplash.jpg);
  background-size: cover;
  height: 642px;
  position: relative;
}
.Qnas h3 {
  font-size: 45px;
  font-family: "Abril Fatface", cursive;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 20px 5px 20px;
}
.Qnas .wrap {
  margin: 2em 0;
  padding: 0;
}
.Qnas .wrap label {
  display: block;
  padding: 8px;
  color: #fff;
  font-weight: bold;
  font-family: "Overpass", sans-serif;
  background: #ffd4e2;
  width: 380px;
  cursor: pointer;
  margin-left: 20px;
}
.Qnas .wrap input[type=checkbox] {
  display: none;
}
.Qnas .wrap .content {
  height: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 10px;
}
.Qnas .content p {
  font-family: "Overpass", sans-serif;
  font-size: 18px;
  width: 380px;
}
.Qnas .switch:checked + .content {
  height: auto;
  width: 380px;
  margin-left: 20px;
  padding: 8px;
  background: #f9e6dd;
}
.Qnas .qnas_wrapper {
  border: 3px solid #ffd4e2;
  background-color: #fff;
  background-size: contain;
  width: 450px;
  height: 636px;
  position: absolute;
  left: 250px;
}
.Qnas .answer_btn {
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  font-size: 20px;
  font-family: "Nixie One", cursive;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 140px;
  color: #ffd4e2;
  border: 2px solid #f9e6dd;
}
.Qnas .answer_btn:hover {
  background-color: #ffd4e2;
  color: #fff;
}

.contact_form h3 {
  font-size: 40px;
  font-family: "Limelight", cursive;
  text-align: center;
  padding-top: 120px;
}
.contact_form .contact_email {
  text-align: left;
  width: 480px;
  height: 50px;
  border-color: #f9e6dd;
  border-radius: 32px;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Abril Fatface", cursive;
  padding-left: 15px;
}
.contact_form .contact_form2 {
  text-align: center;
}
.contact_form .input {
  display: block;
}
.contact_form .btn_submit {
  cursor: pointer;
  background-color: #fff;
  font-size: 20px;
  font-family: "Nixie One", cursive;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 100px;
  color: #ffd4e2;
  border: 2px solid #f9e6dd;
}
.contact_form .btn_submit:hover {
  background-color: #ffd4e2;
  color: #fff;
}

footer .footer_menu {
  background-color: #FFE8D6;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-top: 50px;
}
footer .fm {
  text-align: center;
  font-size: 18px;
  font-family: "Overpass", sans-serif;
  color: #fff;
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

p {
  font-weight: bold;
  font-size: 28px;
  font-family: "Overpass", sans-serif;
}

/*# sourceMappingURL=main.css.map */
