@use 'base' as *;

#header_container {
    width: 100%;
    height: 90px;
    background-color: #fff;
    height: 90px;
    position: fixed;
    border-bottom: 4px solid #ffd4e2;
}
img{
    width: 180px;
    height: 90px;
}
.header_wrapper{
    display: flex;
    align-items: center;
    
.nav_bar{
    display: inline-block;
}
.nav_bar ul{
        list-style: none;
        display: flex;
        text-align: center;
        font-family: $font-nixie;
        font-size: $font-sm;
    }
    .nav_bar li{
        padding-right: 32px;
        padding-left: 32px;
        }
    .nav_menu a{
        color: #000;
        text-decoration: none;

        &:hover{
            color: #8A3398;
        }
    }
}

.top{
 background-image: url(../images/visax-6oPXqoVl8vM-unsplash.jpg);   
 background-size: cover;
 background-repeat: no-repeat;
  height: 640px;

 h1{
    font-size: 60px;
    font-family: $font-shrik;
    color: #fff;
    display: inline;
    text-align: left;
    padding-left: 60px;
 }
 
 .copy{
    color: #fff;
    font-size: $font-md;
    font-family: $font-over;
    padding-bottom: 20px;
 }
 .shop_btn{
    cursor: pointer;
    background-color: #fff;
    font-size: 20px;
    font-family: $font-nixie;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-left: 110px;
    color: #8A3398;

    &:hover{
        background-color: #ffd4e2;
        color: #fff;
    }
 }
 .main_text{
    display: inline-block;
    padding: 200px 0 0 150px
 }

#photo img {
    display: flex;
    width: 620px;
    height: 450px;
    border-radius: 5%;
    position:absolute;
    right: 172px;
    top: 142px;
}
}

.products{
    h2{
    }
    .items{
        display: flex;
        justify-content: space-evenly;
    }
    .items img{
        width: 260px;
        height: 280px;
        border: 1px solid #ffd4e2;
        margin-top: 60px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .products_wrap p{
       text-align: center;
       font-family: $font-nixie;
        font-size: 20px;
        padding-top: 25px;

       &:hover{
        color: #ffd4e2;
        cursor: pointer;
       }
    }
}
.feature{
    background-color: $color-primary;
    margin-top: 70px;
    background-size: contain;
    height:760px;
 h2{
    padding-bottom: 15px;
    text-align: left;
    margin-top: 80px;
    color: #fff;
 }   
 p{
    font-size: 24px;
    font-family: $font-over;
    font-weight: bold;
    color: #fff;
    display: flex;
    border: 1px solid black;
}
 img{
    width: 800px;
    height: 600px;
    display: inline-block;
    margin-left: 280px;
}
.feature_wrapper{
    display: flex;
}
    
    .icon_wrapper{
        display: flex;
    }
}

.size_finder{
    h2{
        padding-bottom: 15px;
    }
    .size_text{
        font-size: 24px;
        font-family: $font-over;
        font-weight: bolder;
        text-align: center;
        padding-bottom: 30px;
    }
    img{
        width: 95%;
        height: 700px;
        // position: relative;
    }
    
    .size_wrapper{
        // position: absolute;

    }
}

.howTo{
    h2{
        padding-bottom: 20px;
    }
    .youtube {
        margin: 30px 0 100px 400px;
        text-align: center;
    }
    .howTo_text {
      text-align: center;
    }

}

.Qnas{
    background-image: url(../images/nataliya-smirnova-6Rfsu18_iVg-unsplash.jpg);
    background-size: cover;
    height: 800px;
    h3{
        font-size: $font-la;
        font-family: 'Abril Fatface', cursive;
        color: #000;
        @include flexLayout;
        padding: 100px 0 10px 0 ;
        border-bottom: 2px solid #ffd4e2;
        // -webkit-text-stroke: 1px #fff;
    }
}



